.venv/
.env
.agents
**/.venv/
node_modules/
__pycache__/
*.pyc
data/profile_store/*.db
data/profile_store/*.json
data/rules_store/*.db
data/rules_store/*.json
data/score_store/*.db
data/score_store/*.json
temp
